$size: 5px;
.container {
  display: flex;
  background: rgb(200, 113, 51);
  width: $size * 15;
  height: $size * 15;
  border-radius: 50% 50% 0% 0%;
  box-shadow: #cbbaba 10px 9px 11px 1px;
  margin: 0 auto;
}
.container .eyes {
  position: relative;
  width: $size * 5;
  height: $size * 5;
  display: block;
  background-color: #fff;
  margin: $size * 3 auto 0px auto;
  border-radius: 50%;
}

.container .eyes::before {
  content: "";
  top: 50%;
  left: $size * 2;
  transform: translate(-50%, -50%);
  width: $size * 2.5;
  height: $size * 2.5;
  border-radius: 50%;
  background: #000;
  position: absolute;
}
